#about {
    margin-bottom: 40px;
}

#about h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#about p {
    line-height: 1.6;
}


#about .content {
    padding: 25px;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--navbar_shadow);
    margin-bottom: 50px;
    background-color: var(--body_background);
    transition: background 0.3s ease-in-out ;
}

#about .text {
    flex: 1;
    line-height: 1.6;
    padding: 25px;
    box-shadow: var(--navbar_shadow);
    margin-right: 15px;
}

#about .video {
    margin: auto;
    flex: 1;
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--navbar_shadow);
    border-radius: 40px;
    margin-top: 20px;
}


@media (max-width: 800px) {
    #about .content {
        justify-content: center;
        display: block;
    }

    #about .video {
        max-width: 580px;
        justify-content: center;
        margin-top: 35px;
    }

    #about .text {
        margin-right: 0;
    }
}


