.experience {
    margin-bottom: 40px;
}

.experience h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.experience-item {
    margin-bottom: 10px;
}

.experience-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.experience-item p {
    margin: 0;
}

.experience .content {
    padding: 25px;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--navbar_shadow);
    margin-bottom: 50px;
    background-color: var(--body_background);
    transition: background 0.3s ease-in-out;
}

.experience .text {
    flex: 1;
    line-height: 1.6;
    padding: 15px;
    box-shadow: var(--navbar_shadow);
    margin: 50px 15px;
    text-align: center;
}


@media (max-width: 800px) {
    .experience .content {
        justify-content: center;
        display: block;
    }

}