#mainpage {
    margin-bottom: 40px;
}

#mainpage h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#mainpage h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#mainpage p {
    line-height: 1.6;
}
