#mainpage {
    margin-bottom: 40px;
    margin-right: 20px;
}

#mainpage h1 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

#mainpage h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#mainpage p {
    line-height: 1.6;
}

#mainpage .content {
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--navbar_shadow);
    margin-bottom: 50px;
    background-color: var(--body_background);
    transition: background 0.3s ease-in-out ;
}

#mainpage .text {
    flex: 1;
    line-height: 1.6;
    padding: 25px;
    box-shadow: var(--navbar_shadow);
    margin-right: 15px;
}

#mainpage .image {
    margin-left: 15px;
    flex: 1;
}

#mainpage img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--navbar_shadow);
}

@media (max-width: 800px) {
    #mainpage .content {
        justify-content: center;
        display: block;
        width: 100%;
        padding: 10px;
    }

    #mainpage img{
        max-width: 580px;
    }

    #mainpage .image{
        justify-content: center;
        padding-top: 35px;
        margin-right: 15px;
    }

    #mainpage .text{
        /*margin-right: 0;*/
        margin-left: 15px;
    }

}