.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* proporcje 16:9 */
    overflow: hidden;

    box-shadow: var(--navbar_shadow);
    border-radius: 40px;
    background-color: var(--body_background);
    transition: all 0.3s ease-in-out ;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
